<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UI09_属性传值_晚作业.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>49E0C4311C2AA1DF001DF3F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49E0C44A1C2AA1E0001DF3F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49E0C4551C2AA1E0001DF3F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
